@font-face {
    font-family: 'futura2';
    src: url('futura2-normal.eot');
    src: url('futura2-normal.eot?#iefix') format('embedded-opentype'),
         url('futura2-normal.woff') format('woff'),
         url('futura2-normal.ttf') format('truetype'),
         url('futura2-normal.svg#CodeBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*=====================================RESET (JÁ É PADRÃO) =======================================*/
body { margin:0px; font-family:futura2; font-size:10px; background:url(../imagens/textura.jpg); color:#000; text-align:center; overflow-x:hidden;}
::selection, ::-moz-selection, ::-webkit-selection{background-color:#50321d;}
img {border:none;}
a {color:#000; font-size:1em; text-decoration:none; cursor:pointer;}
a img {border:none; padding:0; margin:0;}
form {margin:0px;}
ul, li, ol {list-style-type:none; margin:0; padding:0;}
h1, h2, h3, h4, h5, h6, p, span, div {padding:0px; margin:0px 0px 0px 0px; font-size:100%;}
input, textarea{padding:0px; margin:0px; border:0; font-size:13px; width:220px; height:26px; float:left; font-family:arial;}
textarea{height:56px;}
input[type=submit], input[type=radio], input[type=checkbox], select {cursor:pointer;}
h1 {font-size:18px;}
.erro{background-color:#FFB7B7; width:597px; margin-left:93px; color:red; font-size:14px;}
.success{background-color:#1d4107; width:597px; margin-left:93px; color:#fff; font-size:14px;}
.error{background-color:#FFB7B7;}
.sprite{background:url(../imagens/sprite.png) no-repeat 0 0;}
.textos{float:left; margin:4px 0 0 13px;}
.texto_titulo{float:left; color:#e7742e; font-size:18px;}
.texto_titulo_sucesso{color:#71c043;}
.texto_titulo_erro{color:#fc2700;}
.texto_subtitulo{float:left; color:#fff; font-size:15px; clear:both;}
.texto_subtitulo_erro{color:#bc4330;}
.order_form{float:left; clear:left;}
.label{float:left; color:#e7742e; font-size:14px; text-align:right; min-width:50px; margin-right:5px;}
input[type=text]{float:left; width:220px; height:15px; border-radius:3px; font-size:12px; padding:0 3px;}
.submit{width:54px; height:18px; background:#e7742e; border:0; color:#fff; font-size:16px;  margin:-11px 0 0 4px; box-shadow:0px 1px 2px 1px #ee9a67 inset;}
.submit:hover{background:#EE9966;}
.container{width:967px; height:auto; margin:auto;}

/************************************* SLIDER *************************************/
.slider{width:961px; height:416px; overflow:hidden; position:relative; box-shadow:0 0 15px 1px #000; margin:25px 0 20px 0; z-index:901;}
.slider ul, .slider ul li{float:left; position:relative;}
.painel_button{position:absolute; right:20px; bottom:23px;}
.button{float:left; width:15px; height:15px; border-radius:10px; background:#fff; margin:0 6px; cursor:pointer;}
.button:nth-child(1):hover{background:#f98a07;}
.button:nth-child(2):hover{background:#5dd11f;}
.button:nth-child(3):hover{background:#e4dc0d;}
.button:nth-child(4):hover{background:#ed3615;}
/************************************* SLIDER *************************************/

.box_content{width:964px; height:429px; margin:25px 0 20px 0; box-shadow:0 0 15px 1px #000; position:relative; z-index:900;}

/************************************* CARROSSEL *************************************/
.carrossel{width:auto; height:100px; position:relative; float:left; margin:24px 0 0 37px;}
.carrossel p{text-align:right; color:#fff; font-size:14px; margin-bottom:3px; padding-right:3px;}
.carrossel ul li{margin:0 4px; cursor:pointer;}
.prev{position:absolute; left:-59px; top:35%; cursor:pointer;}
.next{position:absolute; right:-6px; top:35%; cursor:pointer;}
.prev:before{width:0; height:0; content:""; position:absolute; z-index:999; border-width:18px; border-right-width:36px; border-style:solid; border-color:transparent;}
.next:before{width:0; height:0; content:""; position:absolute; z-index:999; border-width:18px; border-left-width:36px; border-style:solid; border-color:transparent;}
.disabled{display:none;}
/************************************* CARROSSEL *************************************/

/************************************* MENUS INTERNOS *************************************/
.menu_article{width:100%; height:64px; position:relative; z-index:905;}
.menu_article ul{float:right; margin-top:8px;}
.menu_article ul li{float:left;}
.icones_menu_interno{width:48px; height:45px; float:left; background-position:-52px -137px;}
.link_menu_interno{display:block; color:#fff; font-size:19px; height:auto; float:left; margin:0 5px;}
.link_menu_interno:hover .jardim{background-position:-102px -137px; color:#2ea449;}
.interior{background-position:-3px -192px;}
.link_menu_interno:hover .interior{background-position:-3px -242px; color:#7ed96d;}
.sementes{background-position:-54px -192px;}
.link_menu_interno:hover .sementes{background-position:-54px -242px; color:#1fde60;}
.flores{background-position:-103px -192px;}
.link_menu_interno:hover .flores{background-position:-103px -242px; color:#afd16f;}
.grama{background-position:-4px -292px;}
.link_menu_interno:hover .grama{background-position:-54px -292px; color:#7a9842;}
/************************************* MENUS INTERNOS *************************************/

/************************************* GALERIAS *************************************/
.display, .display_internos, .display_externos{display:none;}
.back_galeria{width:100%; height:100%; position:absolute; top:0; left:0; z-index:1000; opacity:0.7;}
.ordena_galeria{width:878px; height:647px; position:absolute; top:50%; left:50%; margin:-323.5px 0 0 -439px; z-index:1001;}
.box_imgs{width:636px; height:640px; float:left; box-shadow:0 0 11px -1px #000;}
.box_imgs_internos, .box_imgs_externos{width:636px; height:640px; float:left; box-shadow:0 0 11px -1px #000;}
.box_carrossel{width:220px; height:646px; float:right; box-shadow:0 0 11px -1px #000;}
.topo_galeria{float: left; width: 100%; padding-top: 10px;}
.topo_galeria_internos, .topo_galeria_externos{float: left; width: 100%; padding-top: 10px;}
.topo_galeria p, .topo_galeria_internos p, .topo_galeria_externos p{font-size:16px; color:#fff;}
.topo_galeria .icones_menu_galeria, .topo_galeria_internos .icones_menu_galeria, .topo_galeria_externos .icones_menu_galeria{width:33px; height:33px; float:left; margin-left:20px;}
.topo_galeria .fechar_galeria{float:right; font-size:16px; margin-right:20px;}
.fechar_moveis{float:right; font-size:16px; margin-right:20px;}
.carrossel_galerias{float:left; margin:11px 18px 5px 18px; position:relative;}
.carrossel_galerias label, .carrossel_galerias p{font-family:Arial; font-size:13px; }
.carrossel_galerias p{color:#fff; clear:both; float:left; text-align:left; margin-bottom:2px;}
.carrossel_galerias ul li{height:auto!important;}
.ant{position:absolute; left:0px; top:203px; cursor:pointer; width:37px; height:66px; z-index:1000; border-radius:0 37px 37px 0;}
.prox{position:absolute; right:0px; top:203px; cursor:pointer; width:37px; height:66px; z-index:1000; border-radius:37px 0 0 37px;}
.ant:before{width:0; height:0; content:""; position:absolute; z-index:1000; left: -19px; top: 20px; border-width: 13px; border-right-width: 27px; border-style:solid; border-color:transparent;}
.prox:before{width:0; height:0; content:""; position:absolute; z-index:1000; right: -19px; top: 20px; border-width:13px; border-left-width:27px; border-style:solid; border-color:transparent;}
.ant_vert{position:absolute; right:76px; top:33px; cursor:pointer; width:66px; height:36px; z-index:1000; border-radius:0 0 37px 37px;}
.prox_vert{position:absolute; right:76px; bottom:33px; cursor:pointer; width:66px; height:36px; z-index:1000; border-radius:37px 37px 0 0;}
.ant_vert:before{width:0; height:0; content:""; position:absolute; z-index:1000; left:20px; top:-18px; border-width: 13px; border-bottom-width: 27px; border-style:solid; border-color:transparent;}
.prox_vert:before{width:0; height:0; content:""; position:absolute; z-index:1000; right:20px; top:14px; border-width:13px; border-top-width:27px; border-style:solid; border-color:transparent;}
.ordena_infos { width: 601px; float:left; clear: both; margin:0 0 10px 0; }
.ordena_infos .viewport { width:576px; height:146px; overflow: hidden; position: relative; }
.ordena_infos .overview { list-style: none; position: absolute; left: 0; top: 0; }
.ordena_infos .thumb .end,
.ordena_infos .thumb { background-color: #003D5D; }
.ordena_infos .scrollbar { position: relative; float: right; width: 15px; }
.ordena_infos .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
.ordena_infos .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
.ordena_infos .thumb .end { overflow: hidden; height: 5px; width: 13px; }
.ordena_infos .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
.carrossel_imagens_mini{top:34px;}
.carrossel_imagens_mini img{cursor:pointer;}
.carrossel_imagens_mini_internos, .carrossel_imagens_mini_externos{top:34px;}
.carrossel_imagens_mini img, .carrossel_imagens_mini_internos img, .carrossel_imagens_mini_externos img{cursor:pointer;}
/************************************* GALERIAS *************************************/

/************************************* LISTAS *************************************/
.nome_lista{font-size:30px; color:#fff; text-align:left; float:left;}
.texto_lista{font-family:Arial; font-size:14px; color:#fff; font-weight:normal; text-align:left; float:left; clear:both; margin-top:5px;}
.order_listas{width:597px; float:left; margin:35px 0 0 33px;}
.order_listas .icones_menu_interno{margin-right:7px;}
.alfabeto{float:left; clear:both; margin-top:5px;}
.lista { width: 579px; float:left; clear: both; margin:10px 0 10px 0; }
.lista p{width:267px; text-align:left; color:#fff; font-family:Arial; font-size:15px; font-weight:normal; margin:2.5px 3px;}
.lista .viewport { width:561px; height:215px; overflow: hidden; position: relative; }
.lista .overview { list-style: none; position: absolute; left: 0; top: 0; padding-left:14px;}
.lista .thumb .end,
.lista .thumb { background-color: #003D5D; }
.lista .scrollbar { position: relative; float: right; width: 15px; }
.lista .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
.lista .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
.lista .thumb .end { overflow: hidden; height: 5px; width: 13px; }
.lista .disable{ display: none; }
.letra{ width:20px; float:left; color:#1c4605; font-size:16px; margin-right:1px; }
.letra:hover{ background:#35c857; }
.impar{float:left;}
.par{float:right;}
/************************************* LISTAS *************************************/

/************************************* HEADER *************************************/
header{width:100%; height:96px;}
header article{width:100%; height:39px; background:#402817; box-shadow:0 -3px 13px -2px #000 inset;}
#back_menu_header{width:967px; height:100%; margin:auto; position:relative;}
#menu_header{float:right; margin:12px 0 0 0; }
#menu_header li{float:left; margin:0 18px;}
.header_menu{color:#a3785a; font-size:16px;}
.header_menu:hover{color:#fff;}
#logo{display:block; width:182px; height:174px; position:absolute; z-index:999; left:12px; top:0; box-shadow:0 0px 13px -2px #000;}
#back_nav{width:100%; height:57px; background:#50321d;}
nav{width:967px; height:100%; margin:auto;}
nav ul, nav ul li{float:left; margin:8px 0 0 223px;}
nav ul li{margin:0 9px;}
.link_menu{display:block; color:#fff; font-size:16px; height:auto; float:left;}
.icones_menu{width:33px; height:33px; float:left; background-position:-162px -3px;}
.texto_link{float:left; margin:8px 0 0 8px;}
.link_menu:hover .paisagismo{background-position:-162px -43px; color:#ff9657;}
.jardinagem{background-position:-122px -3px;}
.link_menu:hover .jardinagem{background-position:-122px -43px; color:#d0ca2e;}
.plantas{background-position:-82px -3px;}
.link_menu:hover .plantas{background-position:-82px -43px; color:#63bb33;}
.moveis{background-position:-42px -3px;}
.link_menu:hover .moveis{background-position:-42px -43px; color:#eb3d17;}
.vasos{background-position:-2px -3px;}
.link_menu:hover .vasos{background-position:-2px -43px; color:#f38e20;}
/************************************* HEADER *************************************/

/************************************* FOOTER *************************************/
footer{width:967px; height:120px; margin:auto;}
#box_cadastro{width:355px; height:90px; float:right; background:url(../imagens/box_cadastro.png) no-repeat;}
#form_cadastre{margin:0px 0 0 4px; float:left;}
footer address{float:right; margin:12px 20px 0 0; color:#fff; font-size:17px; font-style:normal; text-align:right;}
/************************************* FOOTER *************************************/

/************************************* QUEM SOMOS *************************************/
#content_quemsomos{background:#d99718; border-bottom-right-radius:100px;}
#order_texto{width:597px; float:left; margin:35px 0 0 33px;}
.icone_pagina{width:45px; height:45px; background-position:-2px -87px; float:left; margin-right:18px;}
#order_texto h1{text-align:left; color:#fff; font-size:35px;}
#order_texto p{text-align:justify; color:#fff; font-size:14.6px; margin-top:10px;}
.slider_quemsomos, .slider_paisagismo, .slider_plantas, .slider_vasos{float:left; width:298px; height:429px; box-shadow:none; margin:0;}
.slider_quemsomos{width:295px;}
.slider_quemsomos .painel_button, .slider_paisagismo .painel_button, .slider_plantas .painel_button, .slider_vasos .painel_button{left:0; bottom:10px;}
/************************************* QUEM SOMOS *************************************/

/************************************* CONTATO *************************************/
#content_contato{height:354px; background:#609e3b; border-bottom-left-radius:100px;}
#ordena_form{width:700px; float:right; margin:0px 129px 0 0;}
#content_contato h1{text-align:left; color:#1d4107; font-size:35px; margin-left:92px;}
#content_contato p{text-align:left; color:#fff; font-size:12px; margin-left:92px;}
.label_contato{min-width:88px; color:#1e4109; font-size:18px;}
#ordena_form input, textarea{margin-top:6px; height:81px; padding:0 3px;}
#ordena_form input{width:246px; height:16px; border-radius:0;}
#ordena_form input[name=endereco], #ordena_form input[name=assunto], #ordena_form textarea{width:591px;}
#ordena_form .submit{width:70px; height:22px; margin-left:93px;}
#content_contato address{float:right; color:#173604; font-size:17px; font-style:normal; text-align:right; margin-right:141px;}
/************************************* CONTATO *************************************/

/************************************* PAISAGISMO *************************************/
#content_paisagismo{height:484px; background:#e77630; border-bottom-right-radius:100px;}
.slider_paisagismo{height:485px;}
#content_paisagismo .prev:before{border-right-color:#cb6324;}
#content_paisagismo .next:before{border-left-color:#cb6324;}
#content_paisagismo .icone_pagina{background-position:-52px -86px; height:46px;}
.galeria_paisagismo, .box_imgs_paisagismo, .box_carrossel_paisagismo{background:#803609;}
.icones_paisagismo{background-position:-162px -43px;}
.box_imgs_paisagismo ul li img{border:1px solid #e77630;}
.fechar_paisagismo{color:#e77630;}
.label_infos_paisagismo{color:#ff9c00;}
.ant_paisagismo,.prox_paisagismo{background:#803609;}
.ant_paisagismo:before{border-right-color:#e77630;}
.ant_vert_paisagismo:before{border-bottom-color:#e77630;}
.ant_vert_paisagismo, .prox_vert_paisagismo{background:#803609;}
.prox_paisagismo:before{border-left-color:#e77630;}
.prox_vert_paisagismo:before{border-top-color:#e77630;}
.infos_paisagismo .thumb .end, .infos_paisagismo .thumb{background:#e77630;}
/************************************* PAISAGISMO *************************************/

/************************************* JARDINAGEM *************************************/
#content_jardinagem{height:499px; background:#b9b432; border-bottom-left-radius:100px;}
#content_jardinagem #order_texto{margin:78px 0 0 33px;}
.slider_jardinagem{float:right; width:289px; height:499px; right:3px; overflow:hidden; position:relative; box-shadow:none; margin:0;}
#content_jardinagem .icone_pagina{background-position:-102px -86px; width:48px; height:48px;}
#content_jardinagem .carrossel{margin:36px 0 0 106px;}
#content_jardinagem .carrossel p{color:#716e0d;}
#content_jardinagem .prev:before{border-right-color:#928e19;}
#content_jardinagem .next:before{border-left-color:#928e19;}
.galeria_jardinagem, .box_imgs_jardinagem, .box_carrossel_jardinagem{background:#3b3909;}
.icones_jardinagem{background-position:-122px -43px;}
.box_imgs_jardinagem ul li img{border:1px solid #5a5715;}
.fechar_jardinagem{color:#d2cc31;}
.label_infos_jardinagem{color:#d2cc31;}
.ant_jardinagem,.prox_jardinagem{background:#3b3909;}
.ant_jardinagem:before{border-right-color:#b9b432;}
.ant_vert_jardinagem:before{border-bottom-color:#b9b432;}
.ant_vert_jardinagem, .prox_vert_jardinagem{background:#3b3909;}
.prox_jardinagem:before{border-left-color:#b9b432;}
.prox_vert_jardinagem:before{border-top-color:#b9b432;}
.infos_jardinagem .thumb .end, .infos_jardinagem .thumb{background:#b9b432;}
#content_plantas .lista .track {background:#173606;}
#content_plantas .thumb .end, #content_plantas .thumb { background:#35c857; }
/************************************* JARDINAGEM *************************************/

/************************************* PLANTAS *************************************/
#content_plantas{height:448px; background:#528a33; border-bottom-right-radius:100px;}
#content_plantas .icone_pagina{background-position:-2px -137px;}
.menu_plantas{background:#173606;}
.slider_plantas{width:283px; height:384px;}
/************************************* PLANTAS *************************************/

/************************************* MOVEIS *************************************/
#content_moveis{height:456px; background:#bb432f; border-bottom-left-radius:100px;}
#content_moveis .slider{height:392px; right:0px; width:285px;}
#content_moveis .icone_pagina{background-position:-105px -292px; width:49px; height:49px;}
.menu_moveis{background:#64180b;}
.menu_moveis ul, .menu_vasos ul{float:left; margin-left:215px;}
#content_moveis .interior{background-position:-3px -342px;}
#content_moveis .link_menu_interno:hover .interior{background-position:-3px -392px; color:#cb6e5e;}
#content_moveis .exterior{background-position:-53px -342px;}
#content_moveis .link_menu_interno:hover .exterior{background-position:-53px -392px; color:#dc3014;}
.galeria_moveis, .box_imgs_moveis, .box_carrossel_moveis{background:#571509;}
.icones_moveis{background-position:-42px -43px;}
.box_imgs_moveis ul li img{border:1px solid #b93620;}
.fechar_moveis{color:#fe2601;}
.label_infos_moveis{color:#fe2601;}
.ant_moveis,.prox_moveis{background:#571509;}
.ant_moveis:before{border-right-color:#fe2601;}
.ant_vert_moveis:before{border-bottom-color:#fe2601;}
.ant_vert_moveis, .prox_vert_moveis{background:#571509;}
.prox_moveis:before{border-left-color:#fe2601;}
.prox_vert_moveis:before{border-top-color:#fe2601;}
.infos_moveis .track { background-color: #D8EEFD; }
.infos_moveis .thumb .end, .infos_moveis .thumb { background-color: #d4361b; }
/************************************* MOVEIS *************************************/

/************************************* VASOS *************************************/
#content_vasos{height:451px; background:#d68d3f; border-bottom-right-radius:100px;}
.slider_vasos{width:285px; height:387px;}
#content_vasos .icone_pagina{background-position:-105px -442px;}
.menu_vasos{background:#c57b2b;}
#content_vasos .link_menu_interno:hover .texto_link{color:#7e4201;}
#content_vasos .inorganico{background-position:-104px -342px;}
#content_vasos .link_menu_interno:hover .inorganico{background-position:-104px -392px; color:#7e4201;}
#content_vasos .organico{background-position:-4px -442px;}
#content_vasos .link_menu_interno:hover .organico{background-position:-54px -442px; color:#7e4201;}
.lista_vasos{display:none;}
.lista_vasos .letra { color:#ffecd7; }
.lista_vasos .letra:hover{ background:#ff8a00; }
.lista_vasos .track { background-color: #c57b2b; }
.lista_vasos .thumb .end, .lista_vasos .thumb { background-color: #fec88d; }
/************************************* VASOS *************************************/
