
#sidebar {width:192px;}

#article {left:0px; position:absolute; right:10px; width:auto; }

#user_info {position:absolute; top:0px; right:0px; width:550px; border-top:none; border-bottom:1px dashed #666;}


